@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Dela+Gothic+One&family=Gentium+Book+Plus:wght@400;700&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&family=Raleway:wght@500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --gradient-1: linear-gradient(90deg, rgba(228, 87, 19, 1) 0%, rgba(239, 36, 131, 1) 50%, rgba(39, 19, 163, 1) 100%);
    --text-gradient: linear-gradient(90deg, rgba(228, 87, 19, 1) 0%, rgba(54, 32, 189, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(104, 104, 104);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(127, 127, 127);
}

.text-gradient {
    background: var(--text-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline;
}

.bg-gradient {
    background: var(--gradient-1);
}

.white-gradient {
    width: 20rem;
    height: 20rem;
    background: radial-gradient(77.73% 77.73% at 98.52% 96.25%, #f98bda 0, rgba(128, 76, 239, .29) 50.52%, rgba(91, 216, 216, 0) 100%),
        radial-gradient(141.73% 105.23% at 50% -7.16%, #e1f8ff 0, rgba(160, 198, 255, 0) 50.73%, rgba(162, 147, 255, 0) 100%),
        radial-gradient(112.27% 48.54% at 1.59% 50%, rgba(255, 130, 227, .5) 0, rgba(255, 123, 234, .095) 53.91%, rgba(254, 216, 255, 0) 100%),
        linear-gradient(153.07deg, #8177f3 6.37%, rgba(255, 230, 166, 0) 83.82%);
    filter: blur(150px);
}

.footer-gradient {
    width: 70%;
    height: 15rem;
    background: linear-gradient(90deg, rgba(207, 213, 27, 1) 0%, rgba(128, 194, 124, 1) 51%, rgba(189, 32, 155, 1) 100%);
    filter: blur(150px);
}

.pink-gradient {
    width: 15rem;
    height: 15rem;
    background: rgb(255, 58, 242);
    filter: blur(150px);
}

@media screen and (max-width:500px) {
    .white-gradient {
        width: 15rem;
        height: 15rem;
    }
}

.nav-menu.show {
    left: 0;
}

.logo {
    background-color: #0f172a;
}

.card-1 {
    background-color: #191547;
}

.card-2 {
    background-color: #522579;
}